@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-slider {
  width: 300px;
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}
.mat-slider-thumb {
  transform: scale(0) !important;
}
.mat-slider-thumb-label-text {
  opacity: 1 !important;
}
.mat-slider:not(.mat-slider-disabled).cdk-focused .mat-slider-thumb-label {
}
.mat-slider.mat-slider.mat-slider-horizontal .mat-slider-ticks {
  height: 100px;
  opacity: 1;
  background-size: 1.101% 10px !important;
  transform: translateZ(0px) translateX(2.05051%);
}
.slider-content-wrapper {
  width: 60%;
}
.mat-form-field {
  width: 300px;
}
.example-spacer {
  flex: 1 1 auto;
}
