<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Recommend list of products to perspective customers</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Available products:&nbsp;&nbsp;&nbsp;<b>{{ this.productList }}</b></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</p>

<main class="content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Customer Card</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content class="card-content">
      <mat-label>Select age</mat-label>
      <mat-slider color="primary" (input)="onAgeInputChange($event)" thumbLabel [displayWith]="formatAgeLabel" min="0" max="65" step="1" tickInterval="1" [value] = "formatAgeLabel2"></mat-slider>
       <br>
      <mat-label>Select income</mat-label>
      <mat-slider color="primary" (input)="onIncomeInputChange($event)" thumbLabel [displayWith]="formatIncomeLabel" min="0" max="50" step="1" tickInterval="1"></mat-slider>
      <br><br>
      <mat-slide-toggle color="primary" (change)="onStudentStatusInputChange($event)">Student</mat-slide-toggle>
      <br><br>
      <button mat-raised-button (click)="productsCheck()" color="primary">Check available Products</button>
    </mat-card-content>
  </mat-card>
</main>
